.card{
    margin: 10px;
    background: black;
    width: 400px;
    min-height: 500px;
}

.card > img {
    height: 200px;
    width: 50%;
}

.card h3{
    padding: 5px;
}

.progressBar{
    width: 90%;
    height: 20px;
    box-shadow: 0 0 2px 0 white;
    margin-top: 10px;
}

.inventoryButton{
    cursor: pointer;
    font-size: 40px;
    transition: 0.2s;
}

.inventoryButton:hover{
    transform: scale(1.1);
}

.healthBar{
    height: 100%;
    background: red;
}

.energy{
    height: 100%;
    background: blue;
}