.inventory{
    align-items: center;
    color: white;
    background: rgba(28, 28, 27, 0.63);
    text-align: center;
    min-height: 300px;
    width: 30%;
    position: absolute;
    right: 50px;
}

